# Git LFS configuration for large BLAST database files
# BLAST database files
data/blast/*.tar.gz filter=lfs diff=lfs merge=lfs -text
data/blast/*.phr filter=lfs diff=lfs merge=lfs -text
data/blast/*.pin filter=lfs diff=lfs merge=lfs -text
data/blast/*.psq filter=lfs diff=lfs merge=lfs -text
data/blast/*.nhr filter=lfs diff=lfs merge=lfs -text
data/blast/*.nin filter=lfs diff=lfs merge=lfs -text
data/blast/*.nsq filter=lfs diff=lfs merge=lfs -text
data/blast/*.phd filter=lfs diff=lfs merge=lfs -text
data/blast/*.pnd filter=lfs diff=lfs merge=lfs -text
data/blast/*.pni filter=lfs diff=lfs merge=lfs -text
data/blast/*.pog filter=lfs diff=lfs merge=lfs -text
data/blast/*.psd filter=lfs diff=lfs merge=lfs -text
data/blast/*.psi filter=lfs diff=lfs merge=lfs -text
data/blast/*.pog filter=lfs diff=lfs merge=lfs -text
# IgBLAST database files
data/igblast/*.tar.gz filter=lfs diff=lfs merge=lfs -text
data/igblast/internal_data/** filter=lfs diff=lfs merge=lfs -text
data/igblast/optional_file/** filter=lfs diff=lfs merge=lfs -text
# Large sequence files
*.fasta filter=lfs diff=lfs merge=lfs -text
*.fa filter=lfs diff=lfs merge=lfs -text
*.fna filter=lfs diff=lfs merge=lfs -text
*.faa filter=lfs diff=lfs merge=lfs -text
# HMM files
*.hmm filter=lfs diff=lfs merge=lfs -text
*.h3f filter=lfs diff=lfs merge=lfs -text
*.h3i filter=lfs diff=lfs merge=lfs -text
*.h3m filter=lfs diff=lfs merge=lfs -text
*.h3p filter=lfs diff=lfs merge=lfs -text
# Large data files
data/concatenated/*.hmm filter=lfs diff=lfs merge=lfs -text
data/concatenated/*.h3* filter=lfs diff=lfs merge=lfs -text
data/blast/16S_ribosomal_RNA.ntf filter=lfs diff=lfs merge=lfs -text
data/blast/pdb.prot.tar.gz.md5 filter=lfs diff=lfs merge=lfs -text
data/blast/pdbaa.pdb filter=lfs diff=lfs merge=lfs -text
data/blast/swissprot.ppi filter=lfs diff=lfs merge=lfs -text
data/blast/taxdb.btd filter=lfs diff=lfs merge=lfs -text
data/blast/16S_ribosomal_RNA.nog filter=lfs diff=lfs merge=lfs -text
data/blast/pdbaa.pjs filter=lfs diff=lfs merge=lfs -text
data/blast/pdbaa.tar.gz.md5 filter=lfs diff=lfs merge=lfs -text
data/blast/swissprot.pdb filter=lfs diff=lfs merge=lfs -text
data/blast/swissprot.ppd filter=lfs diff=lfs merge=lfs -text
data/blast/16S_ribosomal_RNA.nsq filter=lfs diff=lfs merge=lfs -text
data/blast/pdbaa.phr filter=lfs diff=lfs merge=lfs -text
data/blast/pdbaa.pin filter=lfs diff=lfs merge=lfs -text
data/blast/pdbaa.pos filter=lfs diff=lfs merge=lfs -text
data/blast/pdb.prot.tar.gz filter=lfs diff=lfs merge=lfs -text
data/blast/pdbaa.ptf filter=lfs diff=lfs merge=lfs -text
data/blast/swissprot.pin filter=lfs diff=lfs merge=lfs -text
data/blast/swissprot.pos filter=lfs diff=lfs merge=lfs -text
data/blast/swissprot.pto filter=lfs diff=lfs merge=lfs -text
data/blast/16S_ribosomal_RNA.nhr filter=lfs diff=lfs merge=lfs -text
data/blast/16S_ribosomal_RNA.nos filter=lfs diff=lfs merge=lfs -text
data/blast/16S_ribosomal_RNA.tar.gz.md5 filter=lfs diff=lfs merge=lfs -text
data/blast/pdbaa.pot filter=lfs diff=lfs merge=lfs -text
data/blast/pdbaa.ppd filter=lfs diff=lfs merge=lfs -text
data/blast/pdbaa.pto filter=lfs diff=lfs merge=lfs -text
data/blast/swissprot.phr filter=lfs diff=lfs merge=lfs -text
data/blast/swissprot.pot filter=lfs diff=lfs merge=lfs -text
data/blast/16S_ribosomal_RNA.nnd filter=lfs diff=lfs merge=lfs -text
data/blast/swissprot.pog filter=lfs diff=lfs merge=lfs -text
data/blast/swissprot.ptf filter=lfs diff=lfs merge=lfs -text
data/blast/swissprot.tar.gz filter=lfs diff=lfs merge=lfs -text
data/blast/taxdb.bti filter=lfs diff=lfs merge=lfs -text
data/blast/taxonomy4blast.sqlite3 filter=lfs diff=lfs merge=lfs -text
data/blast/16S_ribosomal_RNA.ndb filter=lfs diff=lfs merge=lfs -text
data/blast/pdbaa.psq filter=lfs diff=lfs merge=lfs -text
data/blast/pdbaa.tar.gz filter=lfs diff=lfs merge=lfs -text
data/blast/16S_ribosomal_RNA.nin filter=lfs diff=lfs merge=lfs -text
data/blast/16S_ribosomal_RNA.nni filter=lfs diff=lfs merge=lfs -text
data/blast/16S_ribosomal_RNA.nto filter=lfs diff=lfs merge=lfs -text
data/blast/pdbaa.pog filter=lfs diff=lfs merge=lfs -text
data/blast/pdbaa.ppi filter=lfs diff=lfs merge=lfs -text
data/blast/swissprot.pjs filter=lfs diff=lfs merge=lfs -text
data/blast/swissprot.psq filter=lfs diff=lfs merge=lfs -text
data/blast/swissprot.tar.gz.md5 filter=lfs diff=lfs merge=lfs -text
data/blast/16S_ribosomal_RNA.not filter=lfs diff=lfs merge=lfs -text
data/igblast/igblast_internal_data.tar.gz filter=lfs diff=lfs merge=lfs -text
data/igblast/internal_data filter=lfs diff=lfs merge=lfs -text
data/igblast/optional_file filter=lfs diff=lfs merge=lfs -text
